@import 'variables';

html,
body {
  font-family: Roboto, sans-serif;
}

#app,
html,
body,
pre,
.container,
.row {
  height: 100vh;
  overflow-x: hidden;
}

.mobile {
  display: none;
}

.container {
  margin: 0;
  max-width: 100%;
  padding: 0 10px;
}

.row {
  .column {
    &:first-child {
      padding-left: 0;
    }
    &.column-15 {
      flex: 0 0 15%;
      max-width: 15%;
    }
    &.column-55 {
      flex: 0 0 55%;
      max-width: 55%;
    }
  }
}
// Control Panel
.settings-dashboard {
  box-shadow: 0 9px 0px 0px $white, 0 -9px 0px 0px $white, 12px 0 15px -4px $white, -5px 0 5px 0px rgba($grey, .75);
  padding-top: 24px !important;
}

.form-title {
  border-bottom: 2px solid $lavender;
  padding-bottom: 5px;
  user-select: none;

  .fa {
    cursor: pointer;
    transition: transform .15s linear;

    &.fa-lg {
      vertical-align: baseline;
    }

    &.collapsed {
      transform: rotateZ(-90deg);
    }
  }


  h4 {
    display: inline-block;
    margin: 0;
  }
}

.form-body {
  .form-group {
    margin: 15px 0;
  }

  .rule-name {
    font-size: 14px;
    font-style: italic;
    margin-left: 5px;
  }
}

.combo-input {
  input,
  select {
    width: 49%;
  }
}

input,
select {
  &.warning {
    border-color: orange;
  }

  &.danger {
    border-color: red;
  }
}

input {
  transition: all .15s linear;

  &.disabled {
    background-color: $lightgrey;
    border-color: $grey;
  }
}

#editor {
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  padding: 24px 72px 24px 0;

  &:focus {
    outline: 0;
  }
}

@media screen and (max-width: 900px) {
  .mobile {
    display: block;

    .container {
      display: block;
      margin: 0 auto;
      max-width: 112rem;
      overflow: hidden;
      padding: 5rem 2rem 0;
    }
  }

  .container {
    display: none;
  }
}
